@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
        <h2>Получить отчет </h2>
        <p>
            Для получения отчета необходимо ввести временные рамки, за которые вы хотите получить данные, и указать электронную почту.
        </p>
        <p><a class="btn btn-default" href="/Home/Form/">Ввести данные &raquo;</a></p>
    </div>

